@import "tailwindcss";

:root { color-scheme: dark; }
html, body, #root {
  height: 100%;
}
body {
  background: #0B0B0C;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.prompt-textarea {
  scrollbar-width: thin;
  scrollbar-color: #b8b8b8 transparent;

}

.prompt-textchatarea{
  scrollbar-width: thin;
  scrollbar-color: #272727 transparent;
}

.custom-scroll {
  scrollbar-gutter: stable both-edges;
  border-radius: 30px;
  scrollbar-width: thin;
   scrollbar-color: #343434 transparent;
}
