@import "tailwindcss";

:root { color-scheme: dark; }
html, body, #root {
  height: 100%;
}
body {
  background: #0B0B0C;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.prompt-textarea {
  scrollbar-width: thin;
  scrollbar-color: #b8b8b8 transparent;

}