@import "tailwindcss";

:root { color-scheme: dark; }
html, body, #root {
  height: 100%;
}
body {
  background: #0B0B0C;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
